.card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.is-invalid {
  border-color: #dc3545;
}

.invalid-feedback {
  display: block;
}

/* .card-body {
  min-width: 400px; 
} */

.btn {
  margin-top: 1rem;
}
.form-group{
  margin-top: 3%;
}



.navbar-nav.ml-auto {
  margin-left: auto;
}

