<app-navbar></app-navbar>
<div class="container mt-4">
  <h2 class="mb-4">Exams</h2>

  <!-- Show a message if no exams are available -->
  <div *ngIf="exams.length === 0" class="text-center">
    <p>Hooray! No exams for now. Comeback later</p>
  </div>

  <!-- Display exams -->
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let exam of exams">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{ exam.title }}</h5>
          <p class="card-text">{{ exam.description }}</p>
          <p class="card-text">
            <small class="text-muted">Start Date: {{ exam.startDate | date:'short' }}</small><br>
            <small class="text-muted">End Date: {{ exam.endDate | date:'short' }}</small>
          </p>
          <button class="btn btn-success ml-2" (click)="startExam(exam)">Start Exam</button>
        </div>
      </div>
    </div>
  </div>
</div>
