.card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.is-invalid {
  border-color: #dc3545;
}

.invalid-feedback {
  display: block;
}

.form-group{
  margin-top: 5%;
}


.btn {
  margin-top: 1.5rem;
}

.navbar-nav.ml-auto {
  margin-left: auto;
}
.card-body{
  border-width: 10px;
}